* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}

/* Header */ /* #region */
header {
  width: 100%;
  height: 110px;
  background-color: #f55;
  text-align: center;
  position: fixed;
  box-shadow: 0 3px 8px #999;
  z-index: 99;
}

.poketitle {
  height: 86px;
  margin-top: 12px;
}

.up-btn {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 35px;
  right: 50px;
  border-radius: 50%;
  border: 4px solid #66c;
  background-color: #fff;
  background-color: #fd0;
  color: #333;
  color: #66c;
  font-size: 16px;
  font-weight: bold;
  box-shadow: -1px 3px 8px #333;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  header {
    height: 70px;
  }

  .poketitle {
    height: 60px;
    margin-top: 5px;
  }

  .up-btn {
    top: 15px;
    right: 12px;
  }
}

/* #endregion */

/* Gallery */ /* #region */
.gallery {
  width: 100%;
  min-height: calc(100vh - 40px);
  padding: 0px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pokecard {
  width: 260px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: -5px 5px 5px #ccc;
  overflow: hidden;
  cursor: pointer;
}

.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(#fff1 60%, #fff 0%),
    url("assets/blue-bg3.jpg");
  background-size: 100%;
}

.img-box img {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
}

.info-box {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 18px;
}

.types-box {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ccc;
}

.type {
  width: 112px;
  height: 30px;
  margin: 0 2px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
  /* font-family: "Titan One", cursive; */
  color: #fff;
  -webkit-text-stroke: 0.8px #000;
  box-sizing: content-box;
}

@media screen and (max-width: 620px) {
  .gallery {
    min-height: calc(100vh - 40px);
    padding: 0px 0px;
  }

  .pokecard {
    width: 95px;
    height: 190px;
    margin: 5px;
  }

  .img-box {
    height: 90px;
  }

  .img-box img {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
  }

  .info-box {
    height: 20px;
    font-size: 12px;
  }

  .types-box {
    min-height: 80px;
    flex-direction: column;
  }

  .type {
    width: 80px;
    height: 18px;
    margin: 2px 0px;
    font-size: 15px;
    line-height: 18px;
  }
}

/* #endregion */

/* Filter */ /* #region */
.filters {
  max-width: 800px;
  min-height: 144px;
  margin: 130px auto 0px auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: wheat;
}

.filters-container {
  max-width: 800px;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.filters-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.type-btn {
  width: 105px;
  height: 30px;
  border-radius: 5px;
  margin: 4px;
  font-size: 12px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: none !important;
  cursor: pointer;
}

.type-unselected {
  background-color: #ddd !important;
  color: #aaa !important;
}

.reset {
  width: 150px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  background-color: #d55;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .filters {
    margin: 70px 0 5px 0;
  }

  .filters-container {
    padding: 10px 10px;
  }

  .type-btn {
    width: 85px;
    height: 35px;
    border-radius: 5px;
    margin: 4px;
    font-size: 12px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none !important;
    cursor: pointer;
  }

  .type-unselected {
    background-color: #ddd !important;
    color: #aaa !important;
  }

  .reset {
    width: 150px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    background-color: #d55;
    cursor: pointer;
  }
}

/* #endregion */

/* Types */ /* #region */
.bug {
  background-color: #729f3f;
  border: 4px solid #92bf5f;
}
.dark {
  background-color: #707070;
  border: 4px solid #505050;
}
.dragon {
  background-color: #f35352;
  border: 4px solid #b35352;
}
.electric {
  background-color: #eed535;
  border: 4px solid #deb535;
}
.fairy {
  background-color: #fdb9e9;
  border: 4px solid #dda9d9;
}
.fighting {
  background-color: #d56723;
  border: 4px solid #f5a743;
}
.fire {
  background-color: #fd7d24;
  border: 4px solid #ffad54;
}
.flying {
  background-color: #229999;
  border: 4px solid #72c5c5;
}
.ghost {
  background-color: #7b62a3;
  border: 4px solid #ab92d3;
}
.grass {
  background-color: #9bcc50;
  border: 4px solid #cbdc70;
}
.ground {
  background-color: #c3bc01;
  border: 4px solid #d3dc01;
}
.ice {
  background-color: #51c4e7;
  border: 4px solid #91e4f7;
}
.normal {
  background-color: #a4acaf;
  border: 4px solid #949c9f;
}
.poison {
  background-color: #b97fc9;
  border: 4px solid #d99fd9;
}
.psychic {
  background-color: #f366b9;
  border: 4px solid #f396d9;
}
.rock {
  background-color: #a38c21;
  border: 4px solid #c3ac41;
}
.steel {
  background-color: #9eb7b8;
  border: 4px solid #aed7d8;
}
.water {
  background-color: #4592c4;
  border: 4px solid #75c2d4;
}
/* #endregion */

/* Modal */ /* #region */
.modal-container {
  width: 100%;
  min-height: calc(100vh - 110px);
  position: fixed;
  left: 0;
  top: 110px;
  background-color: #fdfdfd;
  background-image: url("./assets/bg1.png");
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 50;
  animation: ani 3600s linear infinite;
}
@keyframes ani {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -3000%;
  }
}

.modal-main {
  max-width: 45%;
  max-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main-box {
  width: 95%;
  max-width: 500px;
  text-align: center;
  position: relative;
}
.modal-main-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #91e4f7;
  background-image: url("./assets/stat-bg5.jpg");
  background-size: cover;
  filter: saturate(0.6);
  border-radius: 50%;
  z-index: -1;
}

.modal-img {
  width: 100%;
  max-width: 500px;
  filter: drop-shadow(13px 9px 3px #0007);
}

.modal-main h1 {
  text-transform: uppercase;
  text-shadow: 8px 12px 3px #0002;
}

.modal-main h1 span {
  font-size: 60px;
}

.modal-info {
  max-width: 55%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-info-box {
  width: 95%;
  max-width: 600px;
  min-width: 300px;
  min-height: 670px;
  padding: 30px 25px 20px 25px;
  border-radius: 20px;
  background-color: #fff6;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-info-flavor {
  height: 130px;
  padding: 10px 15px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3;
  border-radius: 12px;
}

.modal-info-minibox {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff3;
}

.modal-info-minibox p {
  width: 50%;
  height: 70px;
}

.modal-types-box {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-type {
  width: 125px;
  height: 35px;
  margin: 0 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 35px;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  color: #fff;
  -webkit-text-stroke: 0.8px #000;
  box-sizing: content-box;
}

.modal-stats-box {
  padding: 5px 0 25px 0;
  margin-top: 15px;
  border-radius: 10px;
}

.stats-title {
  text-align: center;
  font-size: 22px;
}

.modal-stats {
  min-height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modal-stats .stat {
  width: 80px;
  height: 100px;
  margin: 15px 0;
  position: relative;
  text-align: center;
  border-radius: 5px;
}

.modal-stats .stat p {
  width: 100%;
  height: 50px;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  bottom: -50px;
}

.modal-btn {
  width: 44px;
  height: 44px;
  font-size: 35px;
  line-height: 35px;
  font-family: sans-serif;
  color: #ccc;
  border: 3px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 30px;
}

@media screen and (max-width: 1350px) {
  .modal-container {
    background-size: cover;
  }
}
@media screen and (max-width: 1199px) {
  .modal-container {
    flex-direction: column;
    justify-content: flex-start;
    animation: ani 1600s linear infinite;
  }

  .modal-main {
    max-width: 100%;
    height: 200px;
  }

  .modal-main-box {
    min-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-main-box::after {
    display: none;
  }
  .modal-img {
    height: 100%;
    object-fit: contain;
  }
  .modal-main h1 {
    text-shadow: 8px 12px 3px #0002;
  }

  .modal-main h1 span {
    font-size: 60px;
  }

  .modal-info {
    max-width: 100%;
  }
  .modal-info-box {
    max-width: 100%;
    min-height: 400px;
  }
  .modal-info-minibox {
    min-height: 100px;
  }
  .modal-info-minibox p {
    width: 20%;
    height: 70px;
  }
  .modal-types-box {
    height: 45px;
  }

  .modal-type {
    width: 125px;
    height: 26px;
    font-size: 19px;
    line-height: 26px;
  }

  .stats-title {
    text-align: center;
    font-size: 22px;
  }

  .modal-stats {
    min-height: 120px;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
  }

  .modal-stats .stat {
    width: 72px;
    height: 80px;
    margin: 0 6px;
    position: relative;
    text-align: center;
    border-radius: 5px;
  }

  .modal-stats .stat p {
    width: 100%;
    height: 50px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media screen and (max-width: 620px) {
  .modal-container {
    min-height: calc(100vh - 70px);
    top: 70px;
    animation: ani 3600s linear infinite;
  }

  .modal-main {
    height: 120px;
  }

  .modal-main-box {
    height: 100%;
    padding: 25px 0;
    flex-direction: column-reverse;
  }
  .modal-main h1 {
    font-size: 22px;
  }
  .modal-main h1 span {
    font-size: 26px;
  }

  .modal-info-box {
    min-height: unset;
    padding: 10px;
  }
  .modal-info-flavor {
    height: 100px;
    padding: 5px;
  }
  .modal-info-flavor p {
    font-size: 14px;
  }
  .modal-info-minibox {
    height: 135px;
    margin-top: 7px;
    padding: 0;
  }
  .modal-info-minibox p {
    width: 45%;
    height: 30px;
    font-size: 14px;
  }
  .modal-types-box {
    height: 40px;
  }

  .modal-type {
    width: 120px;
    height: 20px;
    margin: 0 5px;
    font-size: 16px;
    line-height: 20px;
  }

  .modal-stats-box {
    padding: 0;
    margin-top: 0px;
  }

  .stats-title {
    text-align: center;
    font-size: 15px;
  }

  .modal-stats {
    min-height: 85px;
    padding: 5px 0;
  }

  .modal-stats .stat {
    width: 35px;
    height: 45px;
    margin: 0 5px;
    position: relative;
    text-align: center;
    border-radius: 5px;
  }

  .modal-stats .stat p {
    width: 100%;
    height: 50px;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    bottom: -50px;
  }

  .modal-btn {
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 20px;
    right: 10px;
    top: 15px;
  }
}

/* #endregion */

/* Footer */ /* #region */
footer {
  width: 100%;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background-color: #f55;
}

footer a {
  color: #fff;
}

/* #endregion */
